.login-form{
    padding: 4em 1rem;
}

mat-card{
    max-width: 300px;
    margin: 2rem auto;
    text-align: center;
    height: 350px;
}

.full-width-input, button{
    width: 100%;
}

.separador{
    margin-bottom: 2rem ;
}
