<div class="login-form">
    <mat-card>
        <mat-card-content>
            <h1>Iniciar Sesión en ERP</h1>
            <form [formGroup]="loginForm">
            <mat-form-field class="full-width-input">
                <input type="text" formControlName = "email" matInput placeholder="Usuario" required>
            </mat-form-field>

            <mat-form-field class="full-width-input separador">
                <input type="password" formControlName = "password" matInput placeholder="Contraseña" required/>
            
            </mat-form-field>
            <button [disabled]="loginForm.invalid" (click)="login()" type="submit" mat-raised-button color="primary"  >Iniciar sesión</button>
        </form>
        </mat-card-content>
    </mat-card>
</div>
