<app-header></app-header>

<mat-card>
  <h1 class="h2">User Profile</h1>
  <mat-card-content>
    <img src="../../../../assets/img/profile.png" alt="imagen" style="width:150px ;">
    <h1>Email: <strong>{{usuario.email}} </strong></h1>
    <p>User ID: <strong>{{usuario.uid}}</strong></p>
    <p>Email Verified: <strong>{{usuario.emailVerified}}</strong></p>
  </mat-card-content>
</mat-card>

