<mat-toolbar color="primary">   
    <span> <strong>AKARI</strong> ERP </span>
    <a  mat-button routerLink="/home">Home</a>
    <a  mat-button routerLink="/admin/perfil">Perfil</a>
    <span class="spaces"></span>
    <div>
        <a  mat-button (click)="logout()">Salir</a>
    </div>
    </mat-toolbar>
    